body {
    font-family: monospace;
    background-color: black;
    color: white;
    user-select: none;
}
h1 {
    text-align: center;
    margin-top: 25px;
    font-size: 3.5em;
    cursor: default;
    font-family: fantasy;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    background-color: transparent;
    column-gap: 5px;
    margin: auto;
    width: 55%;
    min-width: 864px;
}
.grid > button {
    background-color: darkslategray;
    text-align: center;
    font-size: calc(var(--scale, 1) * 1rem);
    font-family: monospace;
    cursor: pointer;
    aspect-ratio: 6/1;
    scale: 80%;
    color: white;
    border-radius: 35px;
    border-color: transparent;
    float: left;
}
.btn-hmpg {--scale: 2;}

.b1, .b2, .b3, .b4, .b5 {transition-duration: .3s;}
.b1:hover {background-color: #800080;}
.b2:hover {background-color: #867979;}
.b3:hover {background-color: #cca43b; color: black;}
.b4:hover {background-color: #31a353;}
.b5:hover {background-color: #0077b6;}