body {
    background-color: #172a3a;
    font-family: monospace;
    text-align: center;
    color: white;
    user-select: none;
}
h1 {
    margin-top: 25px;
    font-size: 3rem;
    cursor: pointer
}
h2 {
    font-size: 2rem;
    margin: 5px;
    text-align: left;
    padding: 5px;
}


.box {
    aspect-ratio: 1/1;
    font-size: 1.5rem;
    width: 15%;
    cursor: pointer;
    background-color: green;
    border: none;
    color: white;
    border-radius: 10px;
}
.box:hover {background-color: #36b636; color: black;}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding: 5px;
    gap: 10px;
}
.fifty {max-width: 50%;}
.center {margin: auto;}
.card {
    border-radius: 15px;
    background-color: #004346;
    width: 30vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.card > p {
    aspect-ratio: 1/1;
    height: 12vh;
    margin: 10px;
    text-align: center;
}
.co {grid-template-columns: 1fr 1fr;}
.unoCo {grid-template-columns: 1fr;}
.card2 {
    border-radius: 15px;
    background-color: #004346;
    width: 95%;
    margin: auto;
    display: grid;
    place-items: center;
}
.card2 > p {
    /*background-color: gray;*/
    font-size: 1.5rem;
    margin: 10px;
    text-align: left;
}
.term {
    background-color: #00747A;
    padding: 5px;
    border-radius: 5px;
}
.nd {display: none;}
.char {
    font-size: 3rem;
    background-color: #508991;
    border-radius: 10px;
    line-height: 12vh;
}
.lett {
    font-size: 1.5rem;
    width: 12vh;
    height: 4vh;
}